.mobile-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-container {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  max-width: 600px;
  max-height: 1000px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;

  & > * {
    flex-shrink: 0;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  & > * {
    flex-basis: 0;
    flex-grow: 1;
  }

  .heading-label {
    text-align: center;
    margin: 0 1em;
  }
}

.nav-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  padding: 1em;
  position: relative;
  background: var(--nav-bg);
  box-shadow: 0 -5px 15px #000;
  z-index: 99;
  align-items: center;
  justify-content: space-between;

  .network-label {
    font-size: 1.4em;
    .network {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &.hide-name .name {
      display: none;
    }
  }

  .subdomain_logo {
    height: 35px;
    overflow: clip;
    max-width: 140px;
    margin: auto;
    align-self: center;
    .rounded {
      border-radius: 5px;
    }

    &.custom_logo {
      height: 42px;
    }
  }

  .subdomain_container {
    max-width: 140px;
    text-align: center;
    align-self: center;
  }

  .vertical-line {
    border-left: 1px solid #444;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
  }

  .logo-holder {
    display: flex;
    flex-direction: row;
  }
}

.blockchain-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  pointer-events: none;
}

.panel {
  background: var(--bg);
}

.fiat {
  display: block;
  display: inline-block;
  margin-left: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: left;
  background: var(--stat-box-bg);
  padding: 1em;
  margin: 0.5em;
  border-radius: 15px;

  .heading-label {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  .label {
    padding-left: 0.5em;
    font-size: 1.1em;
    margin-right: 0;
    margin-bottom: 0.5em;
    border-bottom: solid 1px var(--secondary);
  }
  &:last-child {
    margin-bottom: none;
  }
  .value {  
    font-size: 1em;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;
    text-align: end;
  }
  .tx-label {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  &.narrower {
    padding-top: 0.75em !important;
    padding-bottom: 0.75em !important;
  }
}

.tx-row {
  display: flex;
  align-items: center;
  padding: 0.75em 0;
  border-bottom: solid 1px var(--secondary);

  &:last-child {
    border-bottom: none;
  }

  .tx-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 1.2em;
    flex-shrink: 0;

    &.sent {
      background-color: rgba(220, 53, 69, 0.15); 
      color: #dc3545; 
    }
    &.received {
      background-color: rgba(34, 139, 34, 0.15); 
      color: forestgreen; 
    }
    &.pending {
      background-color: rgba(255, 153, 0, 0.15); 
      color: #ff9900; 
    }
  }

  .tx-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .tx-type {
      font-weight: bold;
      font-size: 1.1em;
    }
    .tx-time {
      font-size: 0.85em;
      color: gray;
    }
  }

  .tx-amount-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-weight: bold;
  }
}

.tracker-bar {
  padding: 1em 0.5em 0;
}

.accelerate {
  display: flex !important;
  align-self: auto;
  margin-left: 1em;
  background-color: var(--tertiary);
}

.confirmations {
  margin-left: 1em;
}

.accelerateFullSize {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.25rem;
  background-color: #653b9c;
}

.bottom-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  .explainer {
    margin: 0 1em;
    text-align: center;
  }
}

.progress-icon {
  font-size: clamp(30px, 20vw, 150px);
}

.status-panel {
  &.small-status {
    min-height: 180px;
    .progress-icon {
      font-size: clamp(20px, 13vw, 100px);
    }
  }
}

.footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5em;
  background: var(--primary);
  color: white;
  cursor: pointer;
}

.alert-replaced {
  background: var(--danger);
  margin: 1em 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
}